/* Colors sampled from screenshots of Memability, before the rebrand to Memz.co */
html {
    background-color: #ceceb6;
    display: flex;
    justify-content: center;
}
body {
    color: #4f4c3b;
    background-color: #f7f8d0;
    max-width: 60rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
* {
    font-family: 'Droid Sans', 'Noto Sans', sans-serif;
}
pre, code {
    font-family: 'Droid Sans Mono', 'Noto Sans Mono', monospace;
}
header {
    color: #d8d6bf;
    background-color: #375b70;
    padding: 1rem 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 200%;
    font-family: 'Droid Serif', 'Noto Serif', serif;
    font-style: italic;
    margin: unset;
}
h2, h3, h4, h5, h6 {
    font-size: 150%;
    font-weight: unset;
}
.container {
    border: 1px solid #9a9c84;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container >* {
    margin: unset;
}
pre {
    white-space: break-spaces;
    white-space-collapse: preserve-breaks;
    overflow-wrap: anywhere;
}
.deleted {
    text-decoration: line-through;
}
